sudo: required
language: generic
dist: trusty

services:
   - docker

cache: 
   directories:
      - /tmp/conan
      
matrix:
   fast-finish: true
      
env:
   matrix:
      - DOCKER_NAME=rferraro/cxx-clang DOCKER_TAG=3.7 CONFIGURATION=Debug CXXFLAGS=-D__float128=void
      - DOCKER_NAME=rferraro/cxx-clang DOCKER_TAG=3.8 CONFIGURATION=Debug CXXFLAGS=-D__float128=void
      - DOCKER_NAME=rferraro/cxx-clang DOCKER_TAG=3.9 CONFIGURATION=Debug
      - DOCKER_NAME=rferraro/cxx-clang DOCKER_TAG=4.0 CONFIGURATION=Debug
      - DOCKER_NAME=rferraro/cxx-clang DOCKER_TAG=5.0 CONFIGURATION=Debug
      
      - DOCKER_NAME=rferraro/cxx-clang DOCKER_TAG=3.7 CONFIGURATION=Release CXXFLAGS=-D__float128=void
      - DOCKER_NAME=rferraro/cxx-clang DOCKER_TAG=3.8 CONFIGURATION=Release CXXFLAGS=-D__float128=void
      - DOCKER_NAME=rferraro/cxx-clang DOCKER_TAG=3.9 CONFIGURATION=Release
      - DOCKER_NAME=rferraro/cxx-clang DOCKER_TAG=4.0 CONFIGURATION=Release
      - DOCKER_NAME=rferraro/cxx-clang DOCKER_TAG=5.0 CONFIGURATION=Release
      
      - DOCKER_NAME=rferraro/cxx-gcc DOCKER_TAG=5.x CONFIGURATION=Debug
      - DOCKER_NAME=rferraro/cxx-gcc DOCKER_TAG=6.x CONFIGURATION=Debug
      - DOCKER_NAME=rferraro/cxx-gcc DOCKER_TAG=7.x CONFIGURATION=Debug
      
      - DOCKER_NAME=rferraro/cxx-gcc DOCKER_TAG=5.x CONFIGURATION=Release
      - DOCKER_NAME=rferraro/cxx-gcc DOCKER_TAG=6.x CONFIGURATION=Release
      - DOCKER_NAME=rferraro/cxx-gcc DOCKER_TAG=7.x CONFIGURATION=Release
      
install:
   - docker pull "${DOCKER_NAME}:${DOCKER_TAG}"

script: 
   - ./tools/travis/build.sh
